
<hr>

<div class="text-center"> <a href="/api/register" class="btn btn-info">ADD NEW</a></div>
<hr>
<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">NUMBER</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% data.forEach(data => { %> 
    <tr>
      <th scope="row">#</th>
      <td><%= data.name %></td>
      <td><%= data.email %></td>
      <td><%= data.number %></td>

       <form action="/api/<%= data.id %>?_method=DELETE" method="POST" class="d-inline">
      <td><button type="submit"  onclick="click_me()"  class="btn btn-danger">DELETE</button></td>
      </form>

      <td><a href="/api/edit/<%= data.id %>" class="btn btn-info">EDIT</a></td>
    </tr>
    <% }) %>
    
  </tbody>
</table>

